.md-datepicker-wrapper-arrows {
  position: absolute;
  right: 0;
  z-index: 10;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.md-datepicker-wrapper-arrows-left {
  float: left;
}

.md-datepicker-wrapper-arrows-right {
  float: right;
}

.md-datepicker-calendar-pane .md-datepicker-wrapper-input-mask {
  pointer-events: auto;
}